html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fff;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;

}

@import "/styles/header.scss";
@import "/styles/section_one.scss";
@import "/styles/section_map.scss";
@import "/styles/section_two.scss";